h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        h5 #[strong Cod. 260101033-03]
        p.mb-0 Programar las audiencias según el plan de marketing digital.




