.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Alcance:
            | significación, efecto o trascendencia de algo. Aquel desastre tuvo alcance nacional. (Real Academia Española, 2019)
        hr
        p
            strong.mr-2 Audiencia:
            | número de individuos destinatarios que reciben mensajes a través de un medio de comunicación y que, en ocasiones, interactúa con ellos. Las audiencias suelen dividirse según diversas variables, como la edad o el sexo, para determinar los contenidos que se les ofrecen. (Marketing Directo, 2020)
        hr
        p
            strong.mr-2 Bidireccional:
            | de dos direcciones. Acción, comunicación bidireccional. (Real Academia Española, 2019)
        hr
        p
            strong.mr-2 Contenido:
            | el contenido de un sitio web incluye, por ejemplo, texto, imágenes o vídeos. (#[i Marketing] Directo, 2020)

        hr
        p
            strong.mr-2 #[i Engagement]: 
            | el engagement es un anglicismo que hace referencia a la aptitud de una marca para generar compromiso con sus consumidores a través de relaciones persistentes y estables.Cuanto mejor sea nuestra relación con el cliente mejor podremos conocer al mismo y aportar un valor diferencial que mejore nuestro posicionamiento y percepción como marca. (Arimetrics, 2020)
        hr
        p
            strong.mr-2 Entorno digital: 
            | según Mintic el entorno digital se refiere a “el ambiente, tanto físico como virtual sobre el cual se soporta la economía digital. Siendo esta última la economía basada en tecnologías, cuyo desarrollo y despliegue se produce en un ecosistema caracterizado por la creciente y acelerada convergencia entre diversas tecnologías, que se concreta en redes de comunicación, equipos de hardware, servicios de procesamiento y tecnologías web.” (Mintic, 2020)
        hr
        p
            strong.mr-2 #[i Insight]: 
            | un #[i insight] es el conocimiento en la forma de perspectiva, la comprensión o la deducción. Alguien puede venir con una idea después de un largo período de pensamiento o de repente de la nada, como en una revelación o comprensión súbita. (Arimetrics, 2020)
        hr
        p
            strong.mr-2 #[i like]: 
            | un #[i like] ( me gusta, en español) es una característica incorporada en redes sociales y otras plataformas online que permite al usuario dar un feedback positivo a cualquier tipo de contenido, y de esta forma conectar con aquello que les interesa. (Arimetrics, 2020)     
        hr
        p
            strong.mr-2 Presencia online: 
            | la presencia online es la existencia en los medios digitales a través de los distintos sistemas de búsqueda online. En la era digital es uno de los requisitos imprescindibles para las empresas. Es la representación online de una empresa o persona. Además de la web también se compone de presencia en marketplaces, redes sociales y correos electrónicos. La marca propia forma parte de la presencia online. (Arimetrics, 2020) 
        hr
        p
            strong.mr-2 Plan de #[i Social media]: 
            | es un anglicismo que significa “medio sociales”, es decir el conjunto de plataformas digitales donde el contenido es creado, visualizado y compartido por sus usuarios. El término Social Media adquiere vital importancia con la irrupción de las redes sociales, el pilar del social media y que han revolucionado por completo la forma en que los usuarios interactúan entre sí y generan y  comparten información. (Arimetrics, 2020) 
        hr
        p
            strong.mr-2 #[i Ranking]: 
            | relación de marcas de un sector por su orden de importancia. (Marketing Directo, 2020)  
        hr
        p
            strong.mr-2 Tráfico digital: 
            | es la cantidad de usuarios que visitan un sitio web o red social
        hr
        p
            strong.mr-2 #[i Trending Topic]: 
            | en la red social Twitter, los #[i trending topics (TT)] son las principales palabras clave o hashtags que se discuten entre sus usuarios de Twitter en tiempo real y que forman una lista de tendencias que incluye habitualmente unos 20 conceptos. Estas tendencias son una forma eficaz y fácil de ver cuáles son los temas de actualidad en el mundo o en determinada área y quién está hablando de ellos. (Arimetrics, 2020)
        hr
        p
            strong.mr-2 Unidireccional: 
            | de una sola dirección. (Real Academia Española, 2019)