include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Arimetrics. (18 de noviembre de 2020). Qué es Insight. Arimetrics.", "https://www.arimetrics.com/glosario-digital/insight")
        +referenciaItem("Chaffey, D., & Smith, P. (2008). Emarketing Excellence Planning and optimizing your digital marketing. AmsterdamAmsterdam: Butterworth-Heinemann Ltd.", "")
        +referenciaItem("Google. (2020). Empezar a usar Analytics. Support.google.com", "https://support.google.com/analytics/answer/1008015?hl=es")
        +referenciaItem("Google. (2020). Su guía para Google Ads. Support.google.com.", "https://support.google.com/google-ads/answer/6146252?hl=es-419")
        +referenciaItem("Google. (2020). Explicación de la página principal. Support.google.com.", "https://support.google.com/trends/answer/6248105?hl=es&ref_topic=6248052")
        +referenciaItem("Marketing Directo. (2020). Diccionario de marketing. Marketingdirecto.com", "https://www.marketingdirecto.com/diccionario-marketing-publicidad-comunicacion-nuevas-tecnologias")
        +referenciaItem("Marketing y Finanzas. (2020). ¿Qué es una propuesta de Valor y cómo hacerla efectiva? Marketingyfinanzas.net", "https://www.marketingyfinanzas.net/2015/09/que-propuesta-de-valor/")
        +referenciaItem("Mejia Llano, J. C. (22 de octubre de 2019). Indicadores de redes sociales. Juancmejia.com", "https://www.juancmejia.com/redes-sociales/kpis-de-redes-sociales-guia-con-principales-metricas-e-indicadores-de-social-media/")
        +referenciaItem("Mintic. (7 de septiembre de 2020). Entorno digital. www.mintic.gov.co", "https://www.mintic.gov.co/portal/inicio/18724:Entorno-digital")
        +referenciaItem("Observatorio de eComerce. (2019). Medición de Indicadores.", "")
        +referenciaItem("Osterwalder, A., & Pigneur, Y. (2015). Diseñando la propuesta de valor. Paidos", "")
        +referenciaItem("Real Academia Española. (2019). Real Academia Española. En Diccionario de la Lengua Española (edición trisentenario). Obtenido de https://dle.rae.es/celebridad", "")
        +referenciaItem("Trias, M., González, P., & Flores, L. (2009). Las 5 W + H y el ciclo de mejora en la gestión de procesos. Innotec Gestión Revista Del Laboratorio Tecnológico Del, 20-25.", "")
        

        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            