.container#tema_1

    .header-ecored
        h1 1. Construcción de audiencias   

    .jumbotron.bg-white
      .row.justify-content-center
        .col-12.col-lg-8.d-flex.justify-content-center.my-3
          img(src="assets/images/pages/tema_1/img_1_01.svg", alt="", style="width:100%")
        .col-12    
          p Los públicos son cada vez más selectivos frente a los contenidos que consumen, dichos contenidos están determinados por sus gustos, preferencias, intereses y las nuevas formas de consumir contenidos  condicionada a los avances tecnológicos como los nuevos dispositivos y medios integrados, que permiten que en los diferentes dispositivos como un celular, una #[i tablet] o una computadora se pueda simultáneamente ver un video, enviar un mensaje, interactuar en las redes sociales o simplemente escuchar música. Esto hace que construir una audiencia requiera de un conocimiento más profundo del target o público objetivo a la hora de planear una campaña digital.       

    .jumbotron.bg-white
      .row
        .col-12
          .header-ecored.mt-3#tema1_1
            h2 1.1 Definición de audiencia 

      .row.justify-content-center
        .col-12.col-lg-8.d-flex.justify-content-center.my-3
          img(src="assets/images/pages/tema_1/img_1_1_01.svg", alt="", style="width:100%")
        .col-12
          p.mb-0 La definición de audiencia ha tenido varios enfoques que se centran en la mediación que existe entre los medios y los públicos. Sin ir más allá la audiencia se puede referir a un grupo de personas que consumen o reciben información emitida por los diferentes medios masivos como el cine, la televisión, la radio, las revistas, los libros, la prensa, los espectáculos y la internet a través de dispositivos digitales. Por lo anterior se puede concluir que una audiencia digital es aquella que consume contenidos a través de medios y canales, utilizando dispositivos digitales.

    .jumbotron.bg-white
      .row
        .col-12
          .header-ecored.mt-3#tema1_2
            h2 1.2 La construcción de audiencias en la campaña digital

      .row.mb-5        
        .col-12
          p Es importante recordar que un plan de comunicación a parte de obedecer a unos objetivos de marketing, a su vez contempla una serie de estrategias dentro de las que se puede implementar una campaña digital.  La finalidad de una campaña digital es la de acercar la marca, sus productos y/o servicios a una audiencia digital con los objetivos de:

      .row.justify-content-center.align-items-center.mb-5
        .col-auto.mb-5.mb-lg-0        
          img(src="assets/images/pages/tema_1/img_1_2_01.svg", alt="", style="width:450px")
        .col-auto
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")          
            .list__txt
              p.mb-2 Posicionar la marca en el entorno digital
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")          
            .list__txt
              p.mb-2 Visibilizar la imagen de la marca
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")          
            .list__txt
              p.mb-2 Hacer presencia digital (presencia online)
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")          
            .list__txt
              p.mb-2 Buscar nuevos clientes o contactos
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")          
            .list__txt
              p.mb-2 Interactuar con el público
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")          
            .list__txt
              p.mb-2 Vender productos o servicios
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")          
            .list__txt
              p.mb-2 Mostrar un catálogo
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")          
            .list__txt
              p.mb-2 Lanzar un nuevo producto
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")          
            .list__txt
              p.mb-2 Captar información del público
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")          
            .list__txt
              p.mb-0 Reforzar una campaña publicitaria

      .hr-divider.my-5

      .row
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")          
            .list__txt
              h3 Estructura de campaña digital

      .row.justify-content-center
        .col-12
          p Las campañas digitales integran una serie de etapas y acciones enfocadas a conseguir resultados, se trata de desarrollar un plan de campaña alineado al plan general de comunicación y a los objetivos propuestos.

          p Uno de los modelos más utilizados para estructurar un plan de campaña es el modelo SOSTAC (Situation, Objectives, Strategy, Tactics, Action y Control), creado por Chaffey y Smith (2008). Este modelo contempla 6 etapas cruciales para cualquier estrategia o campaña digital (ver figura 1).

        .col-12.col-lg-7.my-5         
          img(src="assets/images/pages/tema_1/info_1_01.svg", alt="", style="width:100%")

      .row
        .col-12
          .list.mb-4
            .list__item
              .list__item__bulletNumber
                span 1         
            .list__txt
              p #[strong Situación]
              p Se trata de hacer un análisis interno y externo de la marca frente al mercado, ello implica:
              .list
                .list__item
                  .list__item__icon
                    img(src="assets/images/icons/icon_single_chevron.svg", alt="")          
                .list__txt
                  p Identificar las debilidades, amenazas, fortalezas y oportunidades a través de la implementación del análisis DAFO.
              .list
                .list__item
                  .list__item__icon
                    img(src="assets/images/icons/icon_single_chevron.svg", alt="")          
                .list__txt
                  p Tener un conocimiento de la audiencia digital: para ello es importante tener identificado previamente al Buyer persona complementado con el target o público objetivo, el análisis del estilo de vida, el mapa de empatía y el lienzo de valor.
              .list
                .list__item
                  .list__item__icon
                    img(src="assets/images/icons/icon_single_chevron.svg", alt="")          
                .list__txt
                  p Tener definido al consumidor y su ecosistema digital.

          .hr-divider.my-5
          
          .list.mb-4
            .list__item
              .list__item__bulletNumber
                span 2       
            .list__txt
              p #[strong Objetivos]
              p Esta etapa define los objetivos que se quieren lograr con la campaña digital, como se ha venido mencionando a lo largo del curso estos deben estar alineados con los objetivos de la estrategia de marketing y a su vez deben ser específicos, medibles, aplicables y relevantes. 

          .hr-divider.my-5
          
          .list.mb-4
            .list__item
              .list__item__bulletNumber
                span 3    
            .list__txt
              p #[strong Estrategias]
              p Aquí se define la ruta para poder alcanzar los objetivos propuestos en la etapa anterior. Ejemplo: estrategia de marketing digital.

          .hr-divider.my-5

          .list.mb-4
            .list__item
              .list__item__bulletNumber
                span 4  
            .list__txt
              p #[strong Tácticas]
              p Hace referencia a cada uno de los procedimientos para desarrollar las estrategias. Ejemplo: E-Marketing, uso de aplicaciones móviles, comercio electrónico, social media. Etc.

          .hr-divider.my-5

          .list.mb-4
            .list__item
              .list__item__bulletNumber
                span 5
            .list__txt
              p #[strong Acciones]
              p Consiste en iniciar la campaña verificando que todas las tácticas sean adecuadas para la audiencia y definir un plan de acción adecuado que responda a las siguientes preguntas definidas como las 5 w (Trias, González, & Flores, 2009):
              .list
                .list__item
                  .list__item__icon
                    img(src="assets/images/icons/icon_single_chevron.svg", alt="")          
                .list__txt
                  p.mb-2 Who? (¿Quién?). Quién lo va a realizar. 
              .list
                .list__item
                  .list__item__icon
                    img(src="assets/images/icons/icon_single_chevron.svg", alt="")          
                .list__txt
                  p.mb-2 What? (¿Qué?). Qué se va a realizar. 
              .list
                .list__item
                  .list__item__icon
                    img(src="assets/images/icons/icon_single_chevron.svg", alt="")          
                .list__txt
                  p.mb-2 Where? (¿Dónde?). Dónde se va a realizar.
              .list
                .list__item
                  .list__item__icon
                    img(src="assets/images/icons/icon_single_chevron.svg", alt="")          
                .list__txt
                  p.mb-2 When? (¿Cuándo?). Cuándo se va a realizar. 
              .list
                .list__item
                  .list__item__icon
                    img(src="assets/images/icons/icon_single_chevron.svg", alt="")          
                .list__txt
                  p.mb-0 How? (¿Cómo?). Cómo se va a realizar.

          .hr-divider.my-5

          .list
            .list__item
              .list__item__bulletNumber
                span 6
            .list__txt
              p.mb-0 #[strong Control]
              p Esta etapa define los indicadores que medirán los objetivos planteados, lo cual significa que debe existir una relación entre el objetivo y el indicador.

      .hr-divider.my-5

      .row
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")          
            .list__txt
              h3 Canales y medios
      .row.justify-content-center
        .col-12.col-lg-8.d-flex.justify-content-center.my-3
          img(src="assets/images/pages/tema_1/img_1_2_02.svg", alt="", style="width:100%")
        .col-12
            p Dentro de la estructura de la campaña digital basada en el modelo SOSTAC, las tácticas involucran los canales y medios de difusión, por lo cual es pertinente diferenciar dichos conceptos dentro del entorno digital.

            p Los medios son los que generalmente buscan la atención de la audiencia, también se refieren a todo lo que se utiliza para poder dar a conocer el mensaje. Ejemplo: televisión, radio, prensa, publicidad, Facebook Ads, YouTube, Google AdWords. Normalmente los medios tradicionales son unidireccionales, es decir, solo pueden enviar información.

            p Los canales hacen referencia a la tecnología que se va a utilizar para mantener una comunicación de forma bidireccional con los públicos, es decir, se envía y se recibe información. Ejemplo: teléfono fijo, celular, WhatsApp, Facebook, chat, Instagram, correo electrónico, mensajería etc.
            
            p Por lo tanto, dentro de un contexto digital es importante definir los medios a utilizar cuando lo único que se pretende es comunicar un mensaje a las audiencias. En el caso de los canales a utilizar se pueden definir cuando a parte de comunicar un mensaje, también se quiere recibir información por parte de la audiencia.

            p Otro aspecto relevante es que, si bien los medios tradicionales son unidireccionales en la comunicación, existen nuevos medios como Facebook, Instagram, WhatsApp entre otros, que a su vez son canales.

      .hr-divider.my-5

      .row.mb-5
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")          
            .list__txt
              h3 Indicadores

        .col-12
          p Un indicador se puede definir como un instrumento que permite recolectar información medible o cuantificable, para evaluar el resultado o progreso de un objetivo. Una campaña sin indicadores establecidos no evidenciará progresos que permitan medir su impacto frente a la audiencia.

          p En la etapa de control del modelo SOSTAC, se habla de la definición de indicadores que permitan medir los objetivos planteados, esto con la finalidad de conocer el retorno de inversión en medios. Los indicadores principales que se utilizan para la medición y el control de una estrategia digital son:          

      .row.justify-content-center.align-items-center.mb-5
        .col-12.col-lg-6.mb-5        
          img(src="assets/images/pages/tema_1/img_1_2_03.svg", alt="", style="width:100%")
        
      .row.justify-content-center
        .col-12
          p De acuerdo con Mejía (2019) el marketing digital cuenta con herramientas de medición que permiten reconocer el éxito o fracaso de una campaña o estrategia digital. Mejía a su vez divide los indicadores en 3 grupos descritos en la siguiente tabla:
        .col-12.col-lg-10.d-flex.justify-content-center.mt-5
          img(src="assets/images/pages/tema_1/img_1_3_02.png", alt="", style="width:100%") 

    .jumbotron.bg-white
      .row
        .col-12
          .header-ecored.mt-3#tema1_3
            h2 1.3 Análisis y creación de audiencias digitales

      .row.justify-content-center
        .col-12.col-lg-10.d-flex.justify-content-center.mb-5
          img(src="assets/images/pages/tema_1/img_1_3_01.svg", alt="", style="width:100%")    
        .col-12
          p El análisis de audiencia es necesario para tener un conocimiento más profundo de los individuos que interactúan y reciben la información de la marca. Este proceso permite entender aspectos de la audiencia relacionados con sus prácticas sociales, hábitos de consumo de medios, intereses, interacción y socialización en un entorno digital.
          
          p Para hacer un análisis de las audiencias digitales, se tiene que definir primero la segmentación del target y el Buyer persona, con el fin de hacer el comparativo de la actividad del cliente en el entorno digital versus el cliente ideal de la marca.

          p.mb-0 Un segundo aspecto para el análisis de audiencia es tener identificados los medios y canales que utiliza el Buyer persona, esto permitirá definir las herramientas de análisis.

      .hr-divider.my-5

      .row.justify-content-center.mb-5
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")          
            .list__txt
              h3 Herramientas para análisis y creación de audiencias

        .col-12.mb-5
          p Existen múltiples herramientas que permiten analizar datos de los usuarios en sus diferentes entornos digitales, estas se utilizan para facilitar la búsqueda, la categorización, la relación y toda la comprensión de la infinidad de datos que se pueden analizar de la audiencia.
          
          p A continuación, se presentan algunas de las herramientas que actualmente se utilizan para el análisis digital de sitios web y redes sociales:         

        .col-9
          .card-media
            .card-media__body
              figure.card__figure
                img(src="assets/images/pages/tema_1/icon_01.svg", alt="")
              .card__copy
                h3 Google Analytics 
                p Es una herramienta gratuita de Google que permite analizar el tráfico web en tiempo real permitiendo tener un informe de:
                .list
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_single_chevron.svg", alt="")          
                  .list__txt
                    p.mb-2 Número de visitas.
                .list
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_single_chevron.svg", alt="")          
                  .list__txt
                    p.mb-2 Duración de visita.
                .list
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_single_chevron.svg", alt="")          
                  .list__txt
                    p.mb-2 Comportamiento de los usuarios.
                .list
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_single_chevron.svg", alt="")          
                  .list__txt
                    p.mb-2 Seguimiento de campañas.
                .list
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_single_chevron.svg", alt="")          
                  .list__txt
                    p.mb-2 Interacciones.
                .list
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_single_chevron.svg", alt="")          
                  .list__txt
                    p.mb-2 Datos de conversión.
                .list
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_single_chevron.svg", alt="")          
                  .list__txt
                    p.mb-2 Palabras clave.

        .col-9
          .card-media
            .card-media__body
              figure.card__figure
                img(src="assets/images/pages/tema_1/icon_02.svg", alt="")
              .card__copy
                h3 Google Ads 
                p Esta herramienta de Google también es de acceso gratuito y se usa para ofrecer campañas de anuncios o publicidad en diferentes medios online, de forma patrocinada que aparecerán cuando los usuarios realizan búsquedas en Google. Dentro de las ventajas de usar esta herramienta se pueden mencionar:
                .list
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_single_chevron.svg", alt="")          
                  .list__txt
                    p.mb-2 Generación inmediata de tráfico. 
                .list
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_single_chevron.svg", alt="")          
                  .list__txt
                    p.mb-2 Accesible económicamente.
                .list
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_single_chevron.svg", alt="")          
                  .list__txt
                    p.mb-2 Permite segmentar al público objetivo de la campaña.
                .list
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_single_chevron.svg", alt="")          
                  .list__txt
                    p.mb-2 Generar posicionamiento de marca.
                .list
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_single_chevron.svg", alt="")          
                  .list__txt
                    p.mb-2 Permite usar palabras claves para los usuarios en sus búsquedas por Google.
                .list
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_single_chevron.svg", alt="")          
                  .list__txt
                    p.mb-2 Es rentable para el anunciante.  

        .col-9
          .card-media
            .card-media__body
              figure.card__figure
                img(src="assets/images/pages/tema_1/icon_03.svg", alt="")
              .card__copy
                h3 Google Trends 
                p Es una herramienta de Google Labs que se utiliza para buscar términos populares y actuales que las personas buscan por internet. Esto permite tener un conocimiento de lo que buscan los clientes potenciales y así tomar decisiones asociadas a los intereses del target. Algunos de sus utilidades más relevantes son:
                .list
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_single_chevron.svg", alt="")          
                  .list__txt
                    p.mb-2 Identificar patrones de búsqueda.
                .list
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_single_chevron.svg", alt="")          
                  .list__txt
                    p.mb-2 Frecuencia de búsqueda de palabras o temas.
                .list
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_single_chevron.svg", alt="")          
                  .list__txt
                    p.mb-2 Lugares en los que más se busca algún tema o palabra.
                .list
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_single_chevron.svg", alt="")          
                  .list__txt
                    p.mb-2 Conocer tendencias de palabras más buscadas.

        .col-9
          .card-media
            .card-media__body
              figure.card__figure
                img(src="assets/images/pages/tema_1/icon_04.svg", alt="")
              .card__copy
                h3 Audiense Insights
                p Es una herramienta de Facebook que se utiliza para obtener información de las personas que se conectan a la página y a la red social de Facebook, esto permite conocer detalles y tener información de las personas que interactúan directa o indirectamente con la página. Dentro de la información que brinda esta herramienta se puede encontrar:
                .list
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_single_chevron.svg", alt="")          
                  .list__txt
                    p.mb-2 Datos demográficos.
                .list
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_single_chevron.svg", alt="")          
                  .list__txt
                    p.mb-2 Intereses y pasatiempos.
                .list
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_single_chevron.svg", alt="")          
                  .list__txt
                    p.mb-2 Información de estilo de vida.

        .col-9
          .card-media
            .card-media__body
              figure.card__figure
                img(src="assets/images/pages/tema_1/icon_05.svg", alt="")
              .card__copy
                h3 Iconosquare
                p Esta herramienta ayuda a gestionar y monitorear eficazmente la cuenta de Instagram. Dentro de sus utilidades se encuentran: 
                .list
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_single_chevron.svg", alt="")          
                  .list__txt
                    p.mb-2 Hacer seguimiento de la cuenta.
                .list
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_single_chevron.svg", alt="")          
                  .list__txt
                    p.mb-2 Promocionar la cuenta.
                .list
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_single_chevron.svg", alt="")          
                  .list__txt
                    p.mb-2 Tener información relevante de imágenes, comentarios.
                .list
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_single_chevron.svg", alt="")          
                  .list__txt
                    p.mb-2 Determinar horas más adecuadas para realizar publicaciones.

        .col-9
          .card-media
            .card-media__body
              figure.card__figure
                img(src="assets/images/pages/tema_1/icon_06.svg", alt="")
              .card__copy
                h3 Alexa Traffic
                p Es una herramienta de Amazon que se encarga de analizar el tráfico web a nivel mundial, clasificando a los sitios web por orden de popularidad, basándose en el comportamiento de navegación de los usuarios. Los datos que ofrece esta herramienta se refieren a: 
                .list
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_single_chevron.svg", alt="")          
                  .list__txt
                    p.mb-2 Descripción del sitio web: número de visitas, compromiso, demografía, fuentes de tráfico, sitios de referencia, etc.
                .list
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_single_chevron.svg", alt="")          
                  .list__txt
                    p.mb-2 Ranking de los sitios más populares.
                .list
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_single_chevron.svg", alt="")          
                  .list__txt
                    p.mb-2 Comparación del sitio web frente a otras páginas.
                .list
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_single_chevron.svg", alt="")          
                  .list__txt
                    p.mb-2 Información de palabras clave.